.navHead {
  font-size: 3.7rem;
}

.navTextL {
  font-size: 1.6rem;
  padding-top: 2rem;
  margin-right: 6rem;
}

.right_shift_nav {
  margin-right: 5.5rem;
}

.headNav {
  max-width: 100%;
  overflow: hidden;
}

.headNav h1 {
  font-size: 1.5rem;
  text-align: center;
}
