.navHead {
  font-size: 3.7rem;
}

.navTextL {
  font-size: 1.5rem;
  margin-right: 7rem;
  padding-top: 2rem;
}

.headNav {
  max-width: 100%;
  overflow: hidden;
}

/* this makes the Nav sticky */
/* .sticky {
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
} */
