.lightDiv,
.rowColorLight,
.light_div,
.MeetUsCon div {
  background-color: #eeeeee !important;
  color: black;
  padding: 3rem;
  text-align: center !important;
}

.MeetUsCon div {
  margin-top: 8rem;
}

.imgLawyer {
  margin-right: 1rem;
  padding-top: 4rem;
  width: 25rem;
}

.lawyer_head {
  margin-left: 4.5rem;
  margin-right: 4rem !important;
  text-align: center;
}

.fixRow {
  margin-bottom: -22rem;
}

.fixCol {
  margin-top: -1rem !important;
}

.fixRow_h1 {
  text-align: center;
  font-size: 3rem;
}

.lawyerName_hover:hover {
  color: orangered;
}

.lawyerName_hover {
  color: black;
}
