.aopMain {
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.mainCard {
  min-width: 20rem; /* breaks at smaller viewports */
  height: 20rem;
  margin: 10px;
  background-color: gray;
}

.cardOverlay {
  color: white;
  background-color: lightslategray;
}

.cardOverlay:hover {
  color: black;
  background-color: whitesmoke;
}

.titleCard {
  text-align: center;
  margin-top: 7.5rem;
  font-size: 1.7rem;
}

.cardButton {
  margin-top: 1.5rem;
  margin-left: 9.5rem;
  /* background-color: black; */
}

.cardHidden {
  display: none;
}
