.aopMain {
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.mainCard {
  min-width: 20rem; /* breaks at smaller viewports */
  height: 20rem;
  margin: 10px;
  background-color: gray;
}

.cardOverlay {
  color: white;
  background-color: #5e6b779a !important;
  transition: background-color 0.3s ease-in-out;
}

.cardOverlay:hover {
  /* color: black; */
  /* background-color: #b83400bb !important; */
  background-color: #753d23a8 !important;
}

.titleCard {
  text-align: center;
  margin-top: 7.5rem;
  /* font-size: 1.7rem; */
  font-size: 2.1rem;
}

.cardOverlay .button {
  margin-left: 8rem;
  opacity: 0;
}

/* Card Keyframe Animation */

.cardOverlay:hover .button {
  animation: slideup 0.6s forwards;
}

@keyframes slideup {
  0% {
    opacity: 0;
    margin-top: 50%;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 10%;
  }
}

/* Transition Animation */

.cardOverlay .titleCard {
  transition: margin-top 0.5s ease-in-out;
}

.cardOverlay:hover .titleCard {
  margin-top: 5rem;
}

.cardOverlay .button {
  transition: margin-top 2s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.cardOverlay:hover .button {
  margin-top: 10%;
  opacity: 1;
}

.card_img {
  height: 100%;
}
