.container {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  width: 100%;
}

.footName {
  margin-right: 10%;
}

.navTextS {
  font-size: 1.3rem;
  padding-top: 2rem;
}

.footDiv {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.footHead {
  font-size: 3rem;
}
