.img {
  width: 25rem;
}

/* temp margin for spacing */
.upperCon {
  margin-top: 30px;
  margin-bottom: 30px;
}

.oMis {
  text-align: center;
}

.oMisP {
  font-size: 1.4rem;
}

.oco {
  color: orangered !important;
  padding-top: 2rem;
}

.upperCon span {
  color: orangered;
}

.upperCon h4 {
  text-align: center;
  padding-top: 3rem;
}

.upperCon span:hover {
  color: white;
}
