.lightDiv,
.rowColorLight,
.light_div,
.LowerHeaderCon div {
  background-color: #eeeeee !important;
  color: black;
  padding: 1rem;
  text-align: center;
}

.light_div_djej {
  margin-top: -2rem !important;
  margin-left: -6vh !important;
  margin-right: -6vh !important;
}

.award {
  padding-left: 9rem;
  padding-top: 2rem;
  margin-right: 6rem;

  /* kinda hacked these into place,
   will need to come back to this */
}
