.att_prof_cont {
  /* margin-top: 10rem; */
  background-color: #f7f7f7 !important;
  color: black;
  margin-bottom: 3rem;
}

.att_prof_cont h2 {
  font-size: 5rem;
}

.att_prof_cont_foot {
  /* margin-top: 10rem; */
  /* background-color: #eeeeee !important; */
  background-color: #f7f7f7 !important;
  color: black;
  margin-bottom: 5rem;
}

.att_prof_cont_foot h2 {
  font-size: 4rem;
}

.att_prof_cont .row {
  margin-top: 0rem;
}

.dumb_h2 {
  padding-top: 3rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 4rem;
}

.thesecond {
  margin-top: -5rem;
  font-size: 4rem;
  color: orangered;
}

.att_prof_page {
  background-color: #eeeeee !important;
}

.white_row {
  background-color: #eeeeee !important;
  margin-top: 10rem;
}

.attprof {
  margin-top: 3rem;
}

.name_att {
  margin-top: 3rem;
}

.name_att h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 7rem;

  /* Fixes the issue on Charles @ 1920x1080 */
  padding-right: 2rem;
}

.name_att h3 {
  padding-top: 11rem;
  margin-left: -8rem;
  font-size: 1.6rem;
}

.jeff h2 {
  padding-left: 2rem;
}

.jeff h3 {
  padding-left: 3rem;
}

.col_bio {
  margin-top: 5rem;
  font-size: 1.3rem;
}

.jeff_pls {
  margin-right: -6rem;
}

/* HomePage */

.pad_left {
  margin-left: 5rem;
}

.jeff_pad {
  margin-left: -4rem;
}

.chrs_img_fix {
  margin-left: 2rem;
}

.att_prof_col {
  padding-top: 3rem;
  background-color: #eeeeee !important;
  color: black;
}

.att_prof_cont p {
  font-size: 1.3rem;
  padding-top: 1rem;
  margin-bottom: 0rem;
}

.jeff_pad h1 {
  padding-left: 2rem;
}

/* animations */

.img_lawyer {
  transition: width 1s ease-in-out;
  width: 25rem;
  padding-top: 2rem;
}

/* .img_lawyer:hover {
  width: 27rem;
} */

.lower_bio {
  margin-top: 5rem;
}

.AoP_bio,
.admitted_bio,
.education_bio {
  text-align: center;
}

.attprof img {
  margin-top: 4rem;
}
